In [1]:
import warnings
warnings.filterwarnings('ignore')
!pip install scikit-learn==0.24.1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-learn==0.24.1
  Downloading scikit_learn-0.24.1-cp37-cp37m-manylinux2010_x86_64.whl (22.3 MB)
     |████████████████████████████████| 22.3 MB 24.3 MB/s
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.1) (1.4.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.1) (3.1.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.1) (1.21.6)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.1) (1.1.0)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.0.2
    Uninstalling scikit-learn-1.0.2:
      Successfully uninstalled scikit-learn-1.0.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
yellowbrick 1.4 requires scikit-learn>=1.0.0, but you have scikit-learn 0.24.1 which is incompatible.
Successfully installed scikit-learn-0.24.1

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [4]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [5]:
from google.colab import files
uploaded = files.upload()

Saving LoanStats_2019Q1.csv to LoanStats_2019Q1.csv

In [6]:
# Load the data

file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [7]:
df = pd.get_dummies(df, columns=["home_ownership", "verification_status","issue_d","pymnt_plan","hardship_flag","debt_settlement_flag", "initial_list_status","next_pymnt_d","application_type"])
df.head()

,loan_amnt,int_rate,installment,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,issue_d_Mar-2019,pymnt_plan_n,hardship_flag_N,debt_settlement_flag_N,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App
0,10500.0,0.1719,375.35,66000.0,low_risk,27.24,0.0,0.0,8.0,0.0,...,1,1,1,1,0,1,0,1,1,0
1,25000.0,0.2000,929.09,105000.0,low_risk,20.23,0.0,0.0,17.0,1.0,...,1,1,1,1,0,1,0,1,1,0
2,20000.0,0.2000,529.88,56000.0,low_risk,24.26,0.0,0.0,8.0,0.0,...,1,1,1,1,0,1,0,1,1,0
3,10000.0,0.1640,353.55,92000.0,low_risk,31.44,0.0,1.0,10.0,1.0,...,1,1,1,1,0,1,0,1,1,0
4,22000.0,0.1474,520.39,52000.0,low_risk,18.76,0.0,1.0,14.0,0.0,...,1,1,1,1,0,1,0,1,1,0

# Split the Data into Training and Testing

In [8]:
# Create our features
X = df.drop(columns="loan_status")

# Create our target
y = df["loan_status"]

In [9]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,hardship_flag_N,debt_settlement_flag_N,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.0,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,1.0,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.0,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,1.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,1.0,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,1.0,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,1.0,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [12]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.datasets import make_classification

clf = BalancedRandomForestClassifier(random_state=1, n_estimators=1000)
clf.fit(X, y)

BalancedRandomForestClassifier(n_estimators=1000, random_state=1)

In [13]:
clf.fit(X_train, y_train)

BalancedRandomForestClassifier(n_estimators=1000, random_state=1)

In [14]:
# Calculated the balanced accuracy score
# YOUR CODE HERE
predictions = clf.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.9230456262714327

In [15]:
# Display the confusion matrix
# YOUR CODE HERE
confusion_matrix(y_test, predictions)

array([[   62,    25],
       [ 1299, 15819]])

In [16]:
# Print the imbalanced classification report
# YOUR CODE HERE
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.05      0.71      0.92      0.09      0.81      0.64        87
   low_risk       1.00      0.92      0.71      0.96      0.81      0.67     17118

avg / total       0.99      0.92      0.71      0.96      0.81      0.67     17205

In [17]:
# List the features sorted in descending order by feature importance
feature_importances = clf.feature_importances_
sorted(zip(clf.feature_importances_, X.columns), reverse = True)

[(0.06798615179111629, 'total_rec_prncp'),
 (0.06220755946712113, 'total_rec_int'),
 (0.06031601268811207, 'last_pymnt_amnt'),
 (0.06004910943821786, 'total_pymnt'),
 (0.0599566686890023, 'total_pymnt_inv'),
 (0.027390534910458075, 'int_rate'),
 (0.019198041693362557, 'issue_d_Jan-2019'),
 (0.0182143147961785, 'dti'),
 (0.017416996423102685, 'annual_inc'),
 (0.016874613104632986, 'out_prncp_inv'),
 (0.016619245366327504, 'installment'),
 (0.016052427290399088, 'max_bal_bc'),
 (0.015560348979326755, 'out_prncp'),
 (0.015254030739367246, 'mths_since_recent_inq'),
 (0.015137575521466934, 'mo_sin_old_rev_tl_op'),
 (0.014974972374927679, 'il_util'),
 (0.014853332516549635, 'revol_bal'),
 (0.014656597331809702, 'tot_hi_cred_lim'),
 (0.014637921947348097, 'mo_sin_old_il_acct'),
 (0.014348510629565091, 'issue_d_Mar-2019'),
 (0.014189072566550843, 'bc_util'),
 (0.013791847881910525, 'total_bc_limit'),
 (0.013646775739703063, 'tot_cur_bal'),
 (0.013533718994588566, 'avg_cur_bal'),
 (0.013378091050976492, 'mths_since_rcnt_il'),
 (0.012986118999772632, 'total_rev_hi_lim'),
 (0.012854187236812843, 'all_util'),
 (0.012586770391037594, 'total_bal_ex_mort'),
 (0.01250685253186488, 'bc_open_to_buy'),
 (0.012366599173130752, 'total_bal_il'),
 (0.011743049718236025, 'mths_since_recent_bc'),
 (0.011705384956425655, 'loan_amnt'),
 (0.011630130490582705, 'total_il_high_credit_limit'),
 (0.010923470764492564, 'total_acc'),
 (0.010155557501409332, 'mo_sin_rcnt_rev_tl_op'),
 (0.010147973710369277, 'num_rev_accts'),
 (0.009784446854762366, 'open_acc'),
 (0.009544963756054289, 'num_il_tl'),
 (0.008973440394181116, 'inq_last_12m'),
 (0.008821063161770904, 'num_rev_tl_bal_gt_0'),
 (0.008779117750713987, 'num_bc_tl'),
 (0.00875377772856351, 'num_sats'),
 (0.008699474503320039, 'acc_open_past_24mths'),
 (0.008667428808721164, 'pct_tl_nvr_dlq'),
 (0.008667268096382998, 'mo_sin_rcnt_tl'),
 (0.00852824578109768, 'num_op_rev_tl'),
 (0.008470942325672658, 'num_actv_rev_tl'),
 (0.008458087413608713, 'num_actv_bc_tl'),
 (0.007859433851463773, 'total_cu_tl'),
 (0.0076279717787819945, 'num_tl_op_past_12m'),
 (0.0070454833098211175, 'num_bc_sats'),
 (0.006855533579358897, 'total_rec_late_fee'),
 (0.006847835381142284, 'open_il_24m'),
 (0.006725637499989827, 'inq_fi'),
 (0.006667608243640327, 'open_rv_24m'),
 (0.006660735819812495, 'mort_acc'),
 (0.005993784129651949, 'percent_bc_gt_75'),
 (0.005838090027664993, 'open_act_il'),
 (0.005493702525191881, 'inq_last_6mths'),
 (0.00495189900276822, 'open_il_12m'),
 (0.004919978683740033, 'next_pymnt_d_Apr-2019'),
 (0.004898558200810093, 'open_acc_6m'),
 (0.004537985934962784, 'issue_d_Feb-2019'),
 (0.0043194414128513185, 'open_rv_12m'),
 (0.0041589960865793425, 'delinq_2yrs'),
 (0.004049512260832114, 'next_pymnt_d_May-2019'),
 (0.0033329761850008827, 'tot_coll_amt'),
 (0.0030000401760632432, 'num_accts_ever_120_pd'),
 (0.0023754117185012633, 'verification_status_Verified'),
 (0.0022219316502349188, 'home_ownership_RENT'),
 (0.001985231954501693, 'home_ownership_OWN'),
 (0.0019613917029014005, 'verification_status_Not Verified'),
 (0.0019202141024414474, 'verification_status_Source Verified'),
 (0.0017652649131928778, 'home_ownership_MORTGAGE'),
 (0.0016112839530306594, 'pub_rec'),
 (0.0016018614003095357, 'pub_rec_bankruptcies'),
 (0.0013828218908628932, 'application_type_Individual'),
 (0.001274745174328043, 'application_type_Joint App'),
 (0.001185795465298096, 'initial_list_status_w'),
 (0.0011598676601486842, 'initial_list_status_f'),
 (0.0009224532205378126, 'num_tl_90g_dpd_24m'),
 (0.0003866767872178921, 'home_ownership_ANY'),
 (0.0003030266680024007, 'collections_12_mths_ex_med'),
 (0.00015799366725755906, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble AdaBoost Classifier

In [18]:
# Train the EasyEnsembleClassifier
# YOUR CODE HERE
from imblearn.ensemble import EasyEnsembleClassifier 
eec = EasyEnsembleClassifier(n_estimators=100, random_state=1)
eec

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [19]:
# Calculated the balanced accuracy score
# YOUR CODE HERE
eec.fit(X_train, y_train)
y_pred = eec.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.9418773612321999

In [20]:
# Display the confusion matrix
# YOUR CODE HERE
confusion_matrix(y_test, y_pred)

array([[   79,     8],
       [  992, 16126]])

In [21]:
# Print the imbalanced classification report
# YOUR CODE HERE
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.07      0.91      0.94      0.14      0.92      0.85        87
   low_risk       1.00      0.94      0.91      0.97      0.92      0.86     17118

avg / total       0.99      0.94      0.91      0.97      0.92      0.86     17205